html {
	height: 100%;
}

body {
	margin: 0;
	background: #dedede;
	width: 100%;
	height: 100%;
}

#canvas-wrapper {
	width: 50px !important;
	height: 60px !important;
	margin: 0 auto;
	position: relative;
	top: 50%;
	margin-top: -30px;
}

.canvas-container {
}

#stage {
	width: 100% !important;
	height: 100% !important;
	background: #fff;
}